.nav {
    display: flex;
    background-color: #dcdcdc;
    color: black;
    padding: 0.75rem;
    justify-content: space-around;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex; 
    flex-direction: column;
}


html, body {
    height: 100%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-style: solid;
    background-color: white;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.07), rgba(0,0,0,0.45));
    
}

.paragraph{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    display: flex;
    justify-content: left;
    align-items: center;
    width: fit-content; 
    height: fit-content; 
    padding: 2rem;
    margin-top: 6rem;
    margin-left: 6rem;
}


button{
    padding: 1rem;
    border-radius: 50%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    align-self: center;
    margin-top: auto;
    margin-bottom: 2rem;
    background-color: rgb(200, 200, 200);
}

.test1 {
    display: flex;
    flex: 5;
    padding-left: 3rem;
}

.test2 {
    display: flex;
    flex: 1;
}

.test3 {
    display: flex;
    flex: 1;
}

.test4 {
    display: flex;
    flex: 1;
}